body {
  background-color: #f5e8d8;
  color: #302522;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
}

#music-space {
  position: relative;
  width: 80%;
  height: 400px;
  margin: 25px auto;
  background-color: #f7d7d5;
  border: 2px solid #302522;
  border-radius: 16px;
  cursor: crosshair;
}
.music-note {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 40px;
  pointer-events: none;
}