
body {
  background-color: rgb(255, 214, 237);
  color: rgb(73, 23, 0);
  font-family: Arial, sans-serif;
}

h1 {
  color: rgb(204, 23, 186);
  text-align: center;
}

h2 {
  color: rgb(124, 3, 78);
  border-bottom: 2px solid rgb(72, 10, 47);
}

p {
  font-size: 20px;
  line-height: 1.5;
}

img {
  width: 400px;
  border: 10px solid rgb(255, 220, 20);
  border-radius: 50px;
}

li {
  color: rgb(132, 0, 57);
  margin: 15px;
}

div {
  border: 9px solid rgb(123, 3, 41);
  margin-bottom: 30px;
  padding: 60px;
  background-color: rgb(255, 148, 205);
}

#page-title {
  color: rgb(123, 0, 62);
  font-size: 42px;
  text-align: center;
  border-bottom: 3px solid rgb(124, 3, 78);
  padding: 15px;
}

.highlight {
  color: rgb(124, 3, 78);
  padding: 10px;
}

.about-photos {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.about-photos img {
  width: 450px;
  height: 250px;
  object-fit: cover;
}
.page-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 25px;
}

.page-links a {
  display: inline-block;
  padding: 12px 20px;
  background-color: rgb(124, 3, 78);
  color: white;
  text-decoration: none;
  border-radius: 12px;
}

.page-links a:hover {
  background-color: rgb(123, 0, 51);
}

body {
  position: relative;
  background-color: rgb(255, 214, 237);
  color: rgb(73, 23, 0);
  font-family: Arial, sans-serif;
  isolation: isolate;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("download.png");
  background-repeat: repeat;
  background-size: 150px;
  opacity: 0.25;
  z-index: -1;
  pointer-events: none;
}