
h1 { color:blue;}
body {
    background-color: rgb(255, 214, 237); 
    color: rgb(73, 23, 0); 
    font-family: Arial, sans-serif; 
} 

 h1{
  color: rgb(204, 23, 186);
  text-align: center;
}

h2 {
  color: rgb(124, 3, 78);
  border-bottom: 2px solid rgb(72, 10, 47);
}

p {
  font-size: 20px;
  line-height: 1.50;
}

img {
  width: 400px;
  border: 10px solid rgb(255, 220, 20);
  border-radius: 50px;
}

li {
  color: rgb(251, 250, 249);
  margin: 15px;
}

div {
    border: 9px solid rgb(123, 3, 41);
    margin-bottom: 30px;
    padding: 60px;
    background-color: rgb(255, 148, 205);
}

#page-title {
    color: rgb(204, 23, 186);
    font-size: 42px;
    text-align: center;
    border-bottom: 3px solid rgb(124, 3, 78);
    padding: 15px;
}
.highlight {
    background-color: rgb(255, 245, 120);
    color: rgb(124, 3, 78);
    padding: 10px;
}